.container{
	max-width : none;
}
.main_border{
	height:500px;
	margin : 0;
}
.login_box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*상단,하단 바 제외한 가운데 영역*/
.main_area{
	margin-left: 260px; /* Same as the width of the sidebar */
  	padding: 20px;
}
.main_border{
	margin: 20px;
}
.fa:hover{
	border: 0;
	outline:0;
	
}
label{
	background-color: none;
	font-family: "Roboto", sans-serif;
}
.w3-sidebar a {
	font-family: "Roboto", sans-serif;
}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
/*상단,하단 바 제외한 가운데 영역*/
button {
   border :0;
   outline :0;
   background-color: #ffffff;
}
.login_box{
	margin: 0 auto;
	width : 500px;
	height : 450px;
	text-align: center;
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.user_icon{
	font-size:40px; 
	color: gray;
}
.info{
	font-weight: bold;
	color: gray;
}