<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <!-- sql 덩어리!!  dao들에서 얘네를 사용 --> <!-- 이거는 무슨 말인지 알았어요! -->
<mapper namespace="TimeTableDao">
	<select id="getNum" resultType="com.homeworkNotice.dto.TimeTableDto" parameterType="map">
    	select count(*) from Student where department=#{department}
    </select>
    
    <select id="getPassNum" resultType="com.homeworkNotice.dto.TimeTableDto" parameterType="map">
    	select count(*) from Student where department=#{department} and total>#{total}
    </select>
</mapper>
